.loader-wrapper {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #001d10;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: .5s;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;

    .blocks {
        position: absolute;
        width: 4px;
        height: 10px;
        background: #050c09;
        border-radius: 4px;
        left: 50%;
        transform: rotate(calc(18deg * var(--i)));
        transform-origin: 0 50px;
        animation: animate 1s ease-in-out infinite;
        animation-delay: calc(0.05s * var(--i));
    }

    &-wrapper {
        &.hidden {
            opacity: 0;
            visibility: hidden;
        }
    }
}

@keyframes animate {

    0%,
    50% {
        background: #050c09;
        box-shadow: none;
    }

    50.1%,
    100% {
        background: #0f0;
        box-shadow: none;
        box-shadow: 0 0 5px #0f0,
            0 0 15px #0f0,
            0 0 30px #0f0,
            0 0 60px #0f0,
            0 0 90px #0f0;
    }
}